ETL/business.pkl
ETL/business.xlsx
ETL/~$business.xlsx
ETL/business.csv
ETL/businessc.csv
ETL/businessc.xlsx
ETL/~$businessc.xlsx
Datasets/*.*
Datasets/Yelp/business.pkl
Datasets/Yelp/checkin.json
Datasets/Yelp/metadata-sitios_restaurantes.parquet
